
.front-p {
  padding-right: 250px;
  padding-top: 380px;
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

a{
  text-decoration: none;
  color: black;
}
